<%- include("header") -%>

<h2 style="text-align: center; color: darkblue;">This is the about page</h2>
<h2 style="text-align: center; color: purple;">Website created by Akhil</h2>

<%- include("footer") -%>
